{% extends 'base.html.twig' %}

{% block title %}ForfaitTraductions index{% endblock %}

{% block body %}
    <h1>ForfaitTraductions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lang</th>
                <th>ForfaitTitle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait_traduction in forfait_traductions %}
            <tr>
                <td>{{ forfait_traduction.id }}</td>
                <td>{{ forfait_traduction.lang }}</td>
                <td>{{ forfait_traduction.forfaitTitle }}</td>
                <td>
                    <a href="{{ path('app_forfait_traductions_show', {'id': forfait_traduction.id}) }}">show</a>
                    <a href="{{ path('app_forfait_traductions_edit', {'id': forfait_traduction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forfait_traductions_new') }}">Create new</a>
{% endblock %}
