{% extends 'base.html.twig' %}

{% block title %}ForfaitTraductions{% endblock %}

{% block body %}
    <h1>ForfaitTraductions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forfait_traduction.id }}</td>
            </tr>
            <tr>
                <th>Lang</th>
                <td>{{ forfait_traduction.lang }}</td>
            </tr>
            <tr>
                <th>ForfaitTitle</th>
                <td>{{ forfait_traduction.forfaitTitle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forfait_traductions_index') }}">back to list</a>

    <a href="{{ path('app_forfait_traductions_edit', {'id': forfait_traduction.id}) }}">edit</a>

    {{ include('forfait_traductions/_delete_form.html.twig') }}
{% endblock %}
