{% extends 'base.html.twig' %}
{% block title %}ForfaitContent index{% endblock %}
{% block body %}
        <div class="d-flex flex-wrap align-content-center justify-content-between p-2">
        {% for forfait_content in forfait_contents %}
            <div class="card {{ forfait_content.adultOnly ? 'border-danger' : 'border-success' }} mb-3 order-{{ forfait_content.position|number_format }}" style="max-width: 18rem;">
                <div class="card-header  text-dark">
                    <strong>{{ forfait_content.langue }}</strong>
                </div>
                <div class="card-body {{ forfait_content.adultOnly ? 'text-danger' : 'text-success' }}">
                    <p class="card-text">{{ forfait_content.description|striptags }}</p>
                </div>
                <div class="card-footer">
                    <div class="col  w-100 d-flex align-items-center  m-2 btn-actions">
                        <div class="row d-flex ">
                            <a href="{{ path('app_forfait_content_edit', {'id': forfait_content.id}) }}" class="btn btn-secondary btn-sm" aria-label="Left Align" data-toggle="tooltip"  title="Editer Le Forfait">
                                <i class="bi bi-pencil"></i>
                            </a>
                            {{ include('forfait_content/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="8">Aucune description n'est disponible pour ce forfait!</td>
            </tr>
        {% endfor %}
        </div>
        </tbody>
    </table>


{% endblock %}
