{% extends 'base.html.twig' %}

{% block title %}Forfait{% endblock %}

{% block body %}

    <h1>Forfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forfait.id }}</td>
            </tr>
            <tr>
                <th>Forfait_titre</th>
                <td>{{ forfait.forfaitTitre }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ forfait.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type_prestation_id</th>
                <td>{{ forfait.typePrestationId }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_forfait_content_new', {'forfait_id': forfait.id}) }}">New Forfait Content</a>

    <h1>ForfaitContent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Langue</th>
                <th>Adult_only</th>
                <th>Position</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait_content in forfaitContents %}
            <tr>
                <td>{{ forfait_content.id }}</td>
                <td>{{ forfait_content.langue }}</td>
                <td>{{ forfait_content.adultOnly ? 'Yes' : 'No' }}</td>
                <td>{{ forfait_content.position }}</td>
                <td>{{ forfait_content.description }}</td>
                <td>
                    <a href="{{ path('app_forfait_content_show', {'id': forfait_content.id}) }}">show</a>
                    <a href="{{ path('app_forfait_content_edit', {'id': forfait_content.id}) }}">edit</a>
                    {{ include('forfait_content/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_forfait_index') }}">back to list</a>

{% endblock %}
