{% extends 'base.html.twig' %}

{% block title %}TypeForfait{% endblock %}

{% block body %}
    <h1>TypeForfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_forfait.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ type_forfait.titre }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ type_forfait.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ type_forfait.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forfait_new', {'id_type_forfait': type_forfait.id}) }}">New Forfait</a> 

    <h3> FORFAITS </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forfait_titre</th>
                <th>Actif</th>
                <th>Type_prestation_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait in forfaits %}
            <tr>
                <td>{{ forfait.id }}</td>
                <td>{{ forfait.forfaitTitre }}</td>
                <td>{{ forfait.actif ? 'Yes' : 'No' }}</td>
                <td>{{ forfait.typePrestationId }}</td>
                <td>
                    <a href="{{ path('app_forfait_show', {'id': forfait.id}) }}">show</a>
                    <a href="{{ path('app_forfait_edit', {'id': forfait.id}) }}">edit</a>
                     {{ include('forfait/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_forfait_index') }}">back to list</a>


{% endblock %}
